autopep8==1.5
click==7.1.1
Flask==1.1.1
flock==0.1
flup==1.0.3
gunicorn==20.0.4
hyperloglog==0.0.12
itsdangerous==1.1.0
j2cli==0.3.10
Jinja2==2.11.1
jq==0.1.6
MarkupSafe==1.1.1
pid==3.0.3
psutil==5.7.0
pycodestyle==2.5.0
PyMySQL==0.9.3
pynsq==0.8.3
python-dotenv==0.13.0
python-pidfile==3.0.0
tornado==4.5.3
Werkzeug==1.0.1
